In [ ]:
import os
from uuid import uuid4

import numpy as np
import pandas as pd
from clickhouse_connect import get_client
from dotenv import load_dotenv

pd.set_option("display.max_rows", 50)
pd.set_option("display.max_columns", 50)

psgc_directory = "../data/geography/"
psgc_data_file = "psgc_2025-08-07.csv"

df = pd.read_csv(psgc_directory + psgc_data_file)

df["psgc_id"] = df["psgc_id"].astype(str).str.zfill(10)
df = df.map(lambda x: x.strip() if isinstance(x, str) else x)

# renaming all geographic level to snake-case
geographic_level_map = {
    "Reg": "region",
    "City": "city",
    "Mun": "municipality",
    "Prov": "province",
    "SubMun": "submunicipality",
    "Bgy": "barangay",
}
df["geographic_level"] = df["geographic_level"].replace(geographic_level_map)

# Parsing the PSGC ID and identifying different area codes from it
# PSGC has 
df["barangay_code"] = df["psgc_id"].str[-3:]
df["municipality_or_city_code"] = df["psgc_id"].str[-5:-3]
df["province_or_highly_urbanized_city_code"] = df["psgc_id"].str[-8:-5]
df["region_code"] = df["psgc_id"].str[-10:-8]

# Obtaining mappable
df["barangay_mapper"] = df["psgc_id"].str[-10:]
df["municipality_or_city_mapper"] = df["psgc_id"].str[-10:-3]
df["province_or_highly_urbanized_city_mapper"] = df["psgc_id"].str[-10:-5]
df["region_mapper"] = df["psgc_id"].str[-10:-8]
regions_filter = (
    (df["province_or_highly_urbanized_city_code"] == "000")
    & (df["municipality_or_city_code"] == "00")
    & (df["barangay_code"] == "000")
)
regions_mapper = (
    df.loc[regions_filter, ["region_mapper", "name"]]
    .sort_values("region_mapper")
    .set_index("region_mapper", drop=True)
    .to_dict()["name"]
)
province_or_huc_filter = (
    ~(df["province_or_highly_urbanized_city_code"] == "000")
    & (df["municipality_or_city_code"] == "00")
    & (df["barangay_code"] == "000")
)
province_or_huc_mapper = (
    df.loc[province_or_huc_filter, ["province_or_highly_urbanized_city_mapper", "name"]]
    .sort_values("province_or_highly_urbanized_city_mapper")
    .set_index("province_or_highly_urbanized_city_mapper")
    .to_dict()["name"]
)
municipal_or_city_filter = (
    ~(df["province_or_highly_urbanized_city_code"] == "000")
    & ~(df["municipality_or_city_code"] == "00")
    & (df["barangay_code"] == "000")
)
municipal_or_city_mapper = (
    df.loc[municipal_or_city_filter, ["municipality_or_city_mapper", "name"]]
    .sort_values("municipality_or_city_mapper")
    .set_index("municipality_or_city_mapper")
    .to_dict()["name"]
)
df["region"] = df["region_mapper"].map(regions_mapper)
df["province_or_highly_urbanized_city"] = df[
    "province_or_highly_urbanized_city_mapper"
].map(province_or_huc_mapper)
df["municipality_or_city"] = df["municipality_or_city_mapper"].map(
    municipal_or_city_mapper
)

In [2]:
df

,psgc_id,name,correspondence_code,geographic_level,old_names,city_class,income_classification,settlement_type,population,Unnamed: 9,barangay_status,barangay_code,municipality_or_city_code,province_or_highly_urbanized_city_code,region_code,barangay_mapper,municipality_or_city_mapper,province_or_highly_urbanized_city_mapper,region_mapper,region,province_or_highly_urbanized_city,municipality_or_city
0,1300000000,National Capital Region (NCR),130000000.0,region,NaN,NaN,NaN,NaN,"13,484,462",NaN,NaN,000,00,000,13,1300000000,1300000,13000,13,National Capital Region (NCR),NaN,NaN
1,1380100000,City of Caloocan,137501000.0,city,NaN,HUC,1st,NaN,"1,661,584",NaN,NaN,000,00,801,13,1380100000,1380100,13801,13,National Capital Region (NCR),City of Caloocan,NaN
2,1380100001,Barangay 1,137501001.0,barangay,NaN,NaN,NaN,U,"2,319",NaN,NaN,001,00,801,13,1380100001,1380100,13801,13,National Capital Region (NCR),City of Caloocan,NaN
3,1380100002,Barangay 2,137501002.0,barangay,NaN,NaN,NaN,U,"5,156",NaN,NaN,002,00,801,13,1380100002,1380100,13801,13,National Capital Region (NCR),City of Caloocan,NaN
4,1380100003,Barangay 3,137501003.0,barangay,NaN,NaN,NaN,U,"2,497",NaN,NaN,003,00,801,13,1380100003,1380100,13801,13,National Capital Region (NCR),City of Caloocan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43764,1999908006,Manaulanan,124712037.0,barangay,NaN,NaN,NaN,U,"7,632",NaN,NaN,006,08,999,19,1999908006,1999908,19999,19,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43765,1999908007,Pamalian,124712062.0,barangay,NaN,NaN,NaN,R,"3,256",NaN,NaN,007,08,999,19,1999908007,1999908,19999,19,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43766,1999908008,Tapodoc,124717017.0,barangay,NaN,NaN,NaN,R,"1,767",NaN,NaN,008,08,999,19,1999908008,1999908,19999,19,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43767,1999908009,Macabual,124712034.0,barangay,NaN,NaN,NaN,R,"4,557",NaN,NaN,009,08,999,19,1999908009,1999908,19999,19,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43768,1999908010,Panicupan,124712048.0,barangay,NaN,NaN,NaN,R,"2,357",NaN,NaN,010,08,999,19,1999908010,1999908,19999,19,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan

# Barangay dimension

In [3]:
barangay_df = df.reset_index(drop=True)
barangay_df["correspondence_code"] = barangay_df["correspondence_code"].astype("Int64")
not_empty = barangay_df["correspondence_code"].notna()
barangay_df.loc[not_empty, "correspondence_code"] = (
    barangay_df[not_empty]["correspondence_code"]
    .astype(str)
    .str.zfill(9)
    .replace("<NA>", "null")
)
barangay_df["correspondence_code"] = barangay_df["correspondence_code"].astype(str)
barangay_df["population"] = pd.to_numeric(
    barangay_df["population"].str.replace(",", "").str.replace("-", "")
).astype("Int64")
barangay_df["settlement_type"] = (
    barangay_df["settlement_type"].replace("U", "urban").replace("R", "rural")
)
barangay_df = barangay_df.rename(
    {
        "Unnamed: 9": "psgc_extras",
        "old_names": "legacy_psgc_name",
        "correspondence_code": "legacy_psgc_id",
        "name": "psgc_name",
    },
    axis=1,
)

barangay_df["region_mapper"] = barangay_df["region_mapper"].str.ljust(10, "0")
barangay_df["province_or_highly_urbanized_city_mapper"] = barangay_df[
    "province_or_highly_urbanized_city_mapper"
].str.ljust(10, "0")
barangay_df["municipality_or_city_mapper"] = barangay_df[
    "municipality_or_city_mapper"
].str.ljust(10, "0")

col_ord = [
    "psgc_id",
    "psgc_name",
    "geographic_level",
    "settlement_type",
    "income_classification",
    "city_class",
    "psgc_extras",
    "barangay_status",
    "barangay_code",
    "barangay_mapper",
    "municipality_or_city_code",
    "municipality_or_city_mapper",
    "province_or_highly_urbanized_city_code",
    "province_or_highly_urbanized_city_mapper",
    "region_code",
    "region_mapper",
    "legacy_psgc_id",
    "legacy_psgc_name",
]
barangay_table = barangay_df[col_ord]

for dtype, index in zip(barangay_table.dtypes, barangay_table.dtypes.index):
    if dtype == "object":
        print(index)
        barangay_table.loc[:, index] = barangay_table.loc[:, index].replace(np.nan, "")
    if dtype == "Int64":
        barangay_table.loc[:, index] = barangay_table.loc[:, index].replace(np.nan, 0)

barangay_table["surrogate_id"] = [uuid4() for _ in range(len(barangay_table))]
barangay_table["valid_from"] = pd.Timestamp.now(tz='UTC').tz_convert('Asia/Manila')

psgc_id
psgc_name
geographic_level
settlement_type
income_classification
city_class
psgc_extras
barangay_status
barangay_code
barangay_mapper
municipality_or_city_code
municipality_or_city_mapper
province_or_highly_urbanized_city_code
province_or_highly_urbanized_city_mapper
region_code
region_mapper
legacy_psgc_id
legacy_psgc_name

/tmp/ipykernel_4479/3066097500.py:64: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  barangay_table["surrogate_id"] = [uuid4() for _ in range(len(barangay_table))]
/tmp/ipykernel_4479/3066097500.py:65: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  barangay_table["valid_from"] = pd.Timestamp.now(tz='UTC').tz_convert('Asia/Manila')

In [4]:
barangay_table

,psgc_id,psgc_name,geographic_level,settlement_type,income_classification,city_class,psgc_extras,barangay_status,barangay_code,barangay_mapper,municipality_or_city_code,municipality_or_city_mapper,province_or_highly_urbanized_city_code,province_or_highly_urbanized_city_mapper,region_code,region_mapper,legacy_psgc_id,legacy_psgc_name,surrogate_id,valid_from
0,1300000000,National Capital Region (NCR),region,,,,,,000,1300000000,00,1300000000,000,1300000000,13,1300000000,130000000,,8806ee1f-be89-43b5-8249-b58b4d8a4602,2025-08-20 22:16:50.298260+08:00
1,1380100000,City of Caloocan,city,,1st,HUC,,,000,1380100000,00,1380100000,801,1380100000,13,1300000000,137501000,,8edf24b9-5b40-4415-a141-d55bd519aec0,2025-08-20 22:16:50.298260+08:00
2,1380100001,Barangay 1,barangay,urban,,,,,001,1380100001,00,1380100000,801,1380100000,13,1300000000,137501001,,12385ee0-3674-469f-b677-99376e11ff40,2025-08-20 22:16:50.298260+08:00
3,1380100002,Barangay 2,barangay,urban,,,,,002,1380100002,00,1380100000,801,1380100000,13,1300000000,137501002,,8d33b3bc-9f58-4340-ba54-fbdf952f7df3,2025-08-20 22:16:50.298260+08:00
4,1380100003,Barangay 3,barangay,urban,,,,,003,1380100003,00,1380100000,801,1380100000,13,1300000000,137501003,,a09c899b-f7bb-4911-85ec-43654b818f71,2025-08-20 22:16:50.298260+08:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43764,1999908006,Manaulanan,barangay,urban,,,,,006,1999908006,08,1999908000,999,1999900000,19,1900000000,124712037,,98705ba5-4d2c-4ef7-9f20-d148cfa14852,2025-08-20 22:16:50.298260+08:00
43765,1999908007,Pamalian,barangay,rural,,,,,007,1999908007,08,1999908000,999,1999900000,19,1900000000,124712062,,ae2801b8-9027-4ceb-b2e7-e2c17517417d,2025-08-20 22:16:50.298260+08:00
43766,1999908008,Tapodoc,barangay,rural,,,,,008,1999908008,08,1999908000,999,1999900000,19,1900000000,124717017,,b5f16e69-3cdc-4062-a48c-b7899b497c6f,2025-08-20 22:16:50.298260+08:00
43767,1999908009,Macabual,barangay,rural,,,,,009,1999908009,08,1999908000,999,1999900000,19,1900000000,124712034,,c34baf5e-20a2-40ba-9d25-a29086d75bfd,2025-08-20 22:16:50.298260+08:00
43768,1999908010,Panicupan,barangay,rural,,,,,010,1999908010,08,1999908000,999,1999900000,19,1900000000,124712048,,913e88a3-5bf3-4678-94c5-fd8141984b0e,2025-08-20 22:16:50.298260+08:00

In [5]:
load_dotenv()

client_password: str = os.getenv("clickhouse_password") or ""
client_username: str = os.getenv("clickhouse_username") or ""

# Connect to ClickHouse
client = get_client(
    host="localhost", port=18123, username=client_username, password=client_password
)

In [6]:
# Insert DataFrame
response = client.insert_df("psgc.dim_administrative_area", barangay_table)

In [7]:
response.summary

{'read_rows': '43769',
 'read_bytes': '11945759',
 'written_rows': '43769',
 'written_bytes': '11945759',
 'total_rows_to_read': '0',
 'result_rows': '43769',
 'result_bytes': '11945759',
 'elapsed_ns': '132248729',
 'query_id': '83d29f6b-e1bf-44ea-ba62-e935925f134e'}

In [8]:
barangay_df

,psgc_id,psgc_name,legacy_psgc_id,geographic_level,legacy_psgc_name,city_class,income_classification,settlement_type,population,psgc_extras,barangay_status,barangay_code,municipality_or_city_code,province_or_highly_urbanized_city_code,region_code,barangay_mapper,municipality_or_city_mapper,province_or_highly_urbanized_city_mapper,region_mapper,region,province_or_highly_urbanized_city,municipality_or_city
0,1300000000,National Capital Region (NCR),130000000,region,NaN,NaN,NaN,NaN,13484462,NaN,NaN,000,00,000,13,1300000000,1300000000,1300000000,1300000000,National Capital Region (NCR),NaN,NaN
1,1380100000,City of Caloocan,137501000,city,NaN,HUC,1st,NaN,1661584,NaN,NaN,000,00,801,13,1380100000,1380100000,1380100000,1300000000,National Capital Region (NCR),City of Caloocan,NaN
2,1380100001,Barangay 1,137501001,barangay,NaN,NaN,NaN,urban,2319,NaN,NaN,001,00,801,13,1380100001,1380100000,1380100000,1300000000,National Capital Region (NCR),City of Caloocan,NaN
3,1380100002,Barangay 2,137501002,barangay,NaN,NaN,NaN,urban,5156,NaN,NaN,002,00,801,13,1380100002,1380100000,1380100000,1300000000,National Capital Region (NCR),City of Caloocan,NaN
4,1380100003,Barangay 3,137501003,barangay,NaN,NaN,NaN,urban,2497,NaN,NaN,003,00,801,13,1380100003,1380100000,1380100000,1300000000,National Capital Region (NCR),City of Caloocan,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43764,1999908006,Manaulanan,124712037,barangay,NaN,NaN,NaN,urban,7632,NaN,NaN,006,08,999,19,1999908006,1999908000,1999900000,1900000000,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43765,1999908007,Pamalian,124712062,barangay,NaN,NaN,NaN,rural,3256,NaN,NaN,007,08,999,19,1999908007,1999908000,1999900000,1900000000,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43766,1999908008,Tapodoc,124717017,barangay,NaN,NaN,NaN,rural,1767,NaN,NaN,008,08,999,19,1999908008,1999908000,1999900000,1900000000,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43767,1999908009,Macabual,124712034,barangay,NaN,NaN,NaN,rural,4557,NaN,NaN,009,08,999,19,1999908009,1999908000,1999900000,1900000000,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan
43768,1999908010,Panicupan,124712048,barangay,NaN,NaN,NaN,rural,2357,NaN,NaN,010,08,999,19,1999908010,1999908000,1999900000,1900000000,Bangsamoro Autonomous Region In Muslim Mindana...,Special Geographic Area,Tugunan

In [ ]:
poptable.info()

In [18]:
col_ord2 = [
    "psgc_id",
    "population",
]
poptable = barangay_df[col_ord2]

for dtype, index in zip(poptable.dtypes, poptable.dtypes.index):
    if dtype == "object":
        print(index)
        poptable.loc[:, index] = poptable.loc[:, index].replace(np.nan, "")
    if dtype == "Int64":
        poptable.loc[:, index] = poptable.loc[:, index].replace(np.nan, 0)
        poptable.loc[:, index] = poptable.loc[:, index].replace(None, "")


poptable["surrogate_id"] = [uuid4() for _ in range(len(poptable))]
poptable["valid_from"] = pd.Timestamp.now(tz='UTC').tz_convert('Asia/Manila')

psgc_id

TypeError: 'regex' must be a string or a compiled regular expression or a list or dict of strings or regular expressions, you passed a 'bool'

In [23]:
poptable["population"].isna().value_counts()

population
False    43769
Name: count, dtype: int64

In [16]:
poptable.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43769 entries, 0 to 43768
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   psgc_id       43769 non-null  object
 1   population    43769 non-null  Int64
 2   surrogate_id  43769 non-null  object
 3   valid_from    43769 non-null  datetime64[us, Asia/Manila]
dtypes: Int64(1), datetime64[us, Asia/Manila](1), object(2)
memory usage: 1.4+ MB

In [14]:
poptable

,psgc_id,population,surrogate_id,valid_from
0,1300000000,13484462,3745babb-7905-4369-9f5f-a4f0a1dde34e,2025-08-20 22:19:44.190848+08:00
1,1380100000,1661584,26e7efd1-3aa5-4075-bfa9-d45b770115bd,2025-08-20 22:19:44.190848+08:00
2,1380100001,2319,3ea5c561-0b9b-4181-b91e-a622dbf8bf8f,2025-08-20 22:19:44.190848+08:00
3,1380100002,5156,647847eb-80a0-4953-a37c-11205f1964d4,2025-08-20 22:19:44.190848+08:00
4,1380100003,2497,90f8e48c-823a-4dd6-bef6-0877d73ebd1f,2025-08-20 22:19:44.190848+08:00
...,...,...,...,...
43764,1999908006,7632,60adcb24-ef5d-4b16-a80b-3c154314f6b8,2025-08-20 22:19:44.190848+08:00
43765,1999908007,3256,cde29f35-77da-40ac-b8e6-35418ffd40a6,2025-08-20 22:19:44.190848+08:00
43766,1999908008,1767,b83dd4b2-dd4a-4cfd-82dc-f9a5026ed3e0,2025-08-20 22:19:44.190848+08:00
43767,1999908009,4557,eeed4e89-0936-46ac-8b9d-efef0413c92f,2025-08-20 22:19:44.190848+08:00
43768,1999908010,2357,0466e422-fedd-4b36-b8d2-6a13b99106c6,2025-08-20 22:19:44.190848+08:00

In [25]:
# Insert DataFrame
response = client.insert_df("psgc.fact_population_by_administrative_area", poptable)

In [27]:
response.summary

{'read_rows': '43769',
 'read_bytes': '1006687',
 'written_rows': '43769',
 'written_bytes': '1006687',
 'total_rows_to_read': '0',
 'result_rows': '43769',
 'result_bytes': '1006687',
 'elapsed_ns': '17232102',
 'query_id': '4bdfffde-e538-483e-97ee-90be422b2b26'}